.app-container {
  width: 500px;
  height: 500px;
  background-color:hsl(0, 0%, 94%);
  /* text-align: center; */
  margin: 0 auto;
}
.app-container >h1 {
  text-align: center;
}
.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.label {
  display: block;
}
.label >input {
  width: 100%;
  
}
